<nav class="app-nav" aria-label="Main">
    <details class="nav-dropdown">
        <summary class="nav-trigger">Menu</summary>
        <div class="nav-menu" role="menu">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item" role="menuitem">Overview</NavLink>
            <NavLink href="code2barcode" class="nav-item" role="menuitem">Code to Barcode</NavLink>
            <NavLink href="find-address" class="nav-item" role="menuitem">Find Address</NavLink>
            <NavLink href="create-route" class="nav-item" role="menuitem">Create Route</NavLink>
        </div>
    </details>
</nav>
